node_modules/
dist/
*.tsbuildinfo
.npmrc

# Android
android/.kotlin/
android/hs_err_*
android/.gradle/
android/app/build/
android/build/
android/local.properties
-e 
# Next.js frontend build output
web/out/
web/.next/
web/node_modules/
